@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

.navbar-menu{
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.navbar-brand__link{
  font-size: 25px;
  color: #fff;

  &:hover{
    color: #ADD8E6;
  }
}
.navbar-right{
  margin-right: 20px !important;
}
.search{
  width: 200px;
  position: relative;
  margin-top: 7px;
  margin-bottom: 0 !important;
  float: left;
}
.search__input{
  padding-left: 30px !important;
  border-radius: 20px !important;

  @include placeholder {
    text-indent: 0;
    transition: text-indent 300ms;
  }

  &:focus {
    @include placeholder {
      text-indent: 500px;
    }
  }

}
.search__icon{
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  color: #808080;
}

.cart{
  display: inline-block;
  font-size: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.cart__link{
  color: #fff;

  &:hover{
    color: #ADD8E6;
  }
}
