<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-menu">
      <a class="navbar-brand__link" href="#">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-right">
      <div class="form-group search">
        <input type="text" class="form-control search__input" placeholder="Search">
        <span class="glyphicon glyphicon-search search__icon"></span>
      </div>
      <div class="cart">
        <a href="#" class="cart__link">
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
