.content__list{
  margin: 0;
  padding: 0;
}

.content__item{
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
  border-radius: 10px;
}

.product{
  padding: 30px;
  background-color: #9CCDFF;
  max-width: 600px;
  margin: 0 auto;
}
.product__img{
  overflow: hidden;
  display: inline-block;

  & > img {
    max-height: 250px;
    max-width: 150px;
  }
}

.product__description{
  display: inline-block;
}

.product__price{
  display: inline-block;

  & > span{
    color: #8B0000;
    font-weight: 600;
  }
}
.product__sale{
  color: #008000;
  display: inline-block;
  float: right;
}

.product__btn{
  float: right;
  width: 150px;

  & > span{
    margin-right: 20px;
  }
}
